<template name="Header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ pathFor 'Home' }}"><img src="/images/vacayicon.png" class="logosmall"></a></li>
          {{#if currentUser}}
          <li><a href="{{ pathFor 'Itinerary' }}">ITINERARY</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADD RESERVATIONS
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ pathFor 'AddFlight' }}">FLIGHT</a></li>
              <li><a href="{{ pathFor 'AddHotel' }}">HOTEL</a></li>
              <li><a href="{{ pathFor 'AddCarRental' }}">CAR</a></li>
              <li><a href="{{ pathFor 'AddDining' }}">DINING</a></li>
              <li><a href="{{ pathFor 'AddAttractions' }}">ATTRACTIONS</a></li>
            </ul>
          </li>

          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="navbar-link">{{> loginButtons }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>