<template name="Home">
    <div class="row header1">
        <img class="himage" src="images/vacayicon.png">
        <h1 style="font-size: 5em">VACAY</h1>

        <p>
          Vestibulum vel blandit tortor. In ut convallis est. Vivamus aliquam ante id elementum elementum. Duis laoreet nisi sit amet efficitur tempus.
          Pellentesque consectetur tincidunt urna sed convallis. Etiam rutrum, ligula ut lobortis ullamcorpera.
        </p>
        <hr>
          <a href="#" class="button1">ABOUT</a>
          <a href="#" class="button1">GITHUB</a>
          <a href="#" class="button1">CLASS</a>
    </div>
</template>
