<template name="Home">
    <div class="hidden-xs header-img">
      <div class="headerd">

        <img src="images/vacayicon.png" height="70%">
        <h1 style="font-size: 5em">VACAY</h1>

        <p>
          Vestibulum vel blandit tortor. In ut convallis est. Vivamus aliquam ante id elementum elementum. Duis laoreet nisi sit amet efficitur tempus. Pellentesque consectetur tincidunt urna sed convallis. Etiam rutrum, ligula ut lobortis ullamcorper.a.
        </p>

        <hr>

          <a href="#" class="button1">ABOUT</a>
          <a href="#" class="button1">GITHUB</a>
          <a href="#" class="button1">CLASS</a>
      </div>

    </div>
</template>
