<template name="Home">
    <div class="hidden-xs header-img">
      <div class="headerd">


        <h1>iVacay</h1>

        <p>
          Vestibulum vel blandit tortor. In ut convallis est. Vivamus aliquam ante id elementum elementum. Duis laoreet nisi sit amet efficitur tempus. Pellentesque consectetur tincidunt urna sed convallis. Etiam rutrum, ligula ut lobortis ullamcorper, nibh enim laoreet ante, sit amet consectetur ligula enim vitae urna.
        </p>

        <hr>

          <span class="button1">About Us</span>
      </div>

    </div>

</template>
