<template name="Itinerary">
  {{#IfLoggedIn}}
  <div class="well" style="padding-top: 65px">

    <table class="table">
      <caption>Flight Reservations</caption>
      <thead>
      <tr>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Confirmation Number</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each flightList}}
      <tr>
        <td>{{flightnum}}</td>
        <td>{{departure}}</td>
        <td>{{dtime}}</td>
        <td>{{arrival}}</td>
        <td>{{atime}}</td>
        <td>{{confirmation}}</td>
        <td><a style="color: slategrey" href="{{pathFor 'EditFlight'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

  <div class="well">

    <table class="table">
      <caption>Hotel Reservations</caption>
      <thead>
      <tr>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Hotel Name</th>
        <th>Confirmation Number</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each hotelList}}
      <tr>
        <td>{{arrivalDate}}</td>
        <td>{{departureDate}}</td>
        <td>{{hotelName}}</td>
        <td>{{hotelcon}}</td>
        <td><a style="color: slategrey" href="{{pathFor 'EditHotel'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

  <div class="well">

    <table class="table">
      <caption>Car Rental Reservations</caption>
      <thead>
      <tr>
        <th>Pick-Up Date</th>
        <th>Drop-Off Date</th>
        <th>Rental Company</th>
        <th>Confirmation Number</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each carrentalList}}
      <tr>
        <td>{{pickup}}</td>
        <td>{{dropoff}}</td>
        <td>{{company}}</td>
        <td>{{confirmation}}</td>
        <td><a style="color: slategrey" href="{{pathFor 'EditCarRental'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

  <div class="well">

    <table class="table">
      <caption>Dining Reservations</caption>
      <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Restaurant</th>
        <th>Confirmation</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each diningList}}
      <tr>
        <td>{{date}}</td>
        <td>{{time}}</td>
        <td>{{restaurant}}</td>
        <td>{{confirmation}}</td>
        <td><a style="color: slategrey" href="{{pathFor 'EditDining'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

  <div class="well">

    <table class="table">
      <caption>Tours/Attractions Tickets</caption>
      <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Event Name</th>
        <th>Confirmation Number</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each attractionsList}}
      <tr>
        <td>{{date}}</td>
        <td>{{time}}</td>
        <td>{{event}}</td>
        <td>{{confirmation}}</td>
        <td><a style="color: slategrey" href="{{pathFor 'EditAttractions'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>
  {{/IfLoggedIn}}
</template>
