<template name="ListFlight">
  {{#IfLoggedIn}}
  <div class="well">

    <table class="table">
      <thead>
      <tr>
        <th>Flight Number</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
      </tr>
      </thead>

      <tbody>
      {{#each flightList}}
      <tr>
        <td>{{flightnum}}</td>
        <td>{{departure}}</td>
        <td>{{dtime}}</td>
        <td>{{arrival}}</td>
        <td>{{atime}}</td>
        <td><a href="{{pathFor 'EditFlight'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>
  {{/IfLoggedIn}}
</template>
