<template name="EditDining">
  {{#IfLoggedIn}}
  <div class="row addedit">
    <div class="col-md-2"></div>
    <div class="col-md-8 addeditkeep">
      <h1 class="addeditheader">EDIT DINING</h1>
      <div class="well addeditwell">
        {{> quickForm
        collection="Dining"
        template="bootstrap3-horizontal"
        label-class="col-sm-2"
        input-col-class="col-sm-10"

        id="EditDiningForm"
        type="method-update"
        meteormethod="editDining"
        doc=this
        buttonContent="Update"}}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  {{/IfLoggedIn}}
</template>