<template name="ListAttractions">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Event Name</th>
          <th>Confirmation Number</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each attractionsList}}
          <tr>
            <td>{{date}}</td>
            <td>{{time}}</td>
            <td>{{event}}</td>
            <td>{{confirmation}}</td>
            <td><a href="{{pathFor 'EditAttractions'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
