body {
  margin: 0 !important;
  padding-top: 0 !important;
  font-family: Lato !important;
  background-color: white;
}

.navbar-inverse {
  color: white;
  background-color: rgba(16, 20, 63, 0.8);
  border-bottom: 4px solid #F68340;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

a#signup-link.pull-right {
  color: black;
}

.nav .open > a, .nav .open > a:hover {
  background-color: transparent;
}

.navbar-nav > li > a {
  padding: 0;
  line-height: 45px !important;
}

.dropdown-menu > li > a {
  color: black;
}

.btn-primary, .btn-primary:hover {
  background-color: black;
  border: none;
}

.header1 {
  text-align: center;
  height: 753px;
  background-image: url('images/airplane1.jpg');
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

.himage {
  width: 200px;
}

.options, .options:hover {
  font-size: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #F68340;
}

a, a:hover{
  color: white;
  text-decoration: none;
  margin: 5px;
}

hr {
  width: 30%;
  border-color: white;
}

.button1 {
  width: 15%;
  border: white solid 1px;
  border-radius: 3px;
  padding: 4px;
  font-size: 0.95em;
}

footer, .text-muted {
  background-color: #10143F;
  color: white;
}

.well {
  margin: 10px;
  padding: 0 10px 0 10px;
  text-align: center;
  background-color: white;
  border: solid 1px black;
}

h1 {
  color: white;
  margin-bottom: 0;
}


h3 {
  color: white;
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 1em;
}

.logosmall {
  height: 50px;
  width: 50px;
}

.fill {
  background-color: #10143F;
  height: 60px;
}

tr, td {
  text-align: left;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}

th {
  color: black;
  border-bottom: 2px solid #F68340 !important;
}

.row > h2 {
  letter-spacing: 2px;
  font-weight: bold;
}

.description {
  text-align: center;
}