<template name="About">
  <div class="fill"></div>

  <div class="row" style="padding-left: 25%; padding-right: 25%; padding-bottom: 25px;">
    <h1 style="color: #0c123a;">GETTING STARTED</h1>
    <p style="text-indent: 10px;">Vacay is a web application designed to help travelers like you. The website creates
      collections
      that
      stores
      information about places you are planning to go to.  You can also edit and delete events in the itinerary page.
    </p>

    <div class="guestlogin">
      <span style="font-weight: bolder; color: #0c123a">GUEST LOGIN</span> <br>
      <span style="font-weight: bold">Username:</span> guest <br>
      <span style="font-weight: bold">Password:</span> guest123
    </div>
  </div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h1 class="userheader">VACAY'S USER GUIDE</h1>
        </div>
        <div class="item">
            <h1 class="userheader" style="font-size: 30px">SIGN IN / CREATE AN ACCOUNT</h1>
            <hr class="userbar">
            <p class="userdesc">Click 'Sign in/Join' in the top right corner of the page.</p>
            <p class="userdesc">To sign in, enter your Username and Password, then click 'Sign-in'.</p>
            <p class="userdesc">To join, click 'Create account'.  Enter a Username and Password, confirm Password and
              click 'Create.</p>
        </div>
        <div class="item">
          <h1 class="userheader">VIEW ITINERARY</h1>
          <hr class="userbar">
          <p class="userdesc">Click 'Itinerary' at the top of page.</p>
        </div>
        <div class="item">
          <h1 class="userheader">ADD RESERVATIONS</h1>
          <hr class="userbar">
          <p class="userdesc">Click 'Add Reservations' at top of page.</p>
          <p class="userdesc">To add a reservation, click on either Flight, Hotel, Car, Dining, or Attractions.</p>
          <p class="userdesc">Add the pertinent information.  Confirmation Number is optional. Then, click 'Submit'.</p>
        </div>
        <div class="item">
          <h1 class="userheader">EDIT RESERVATIONS</h1>
          <hr class="userbar">
          <p class="userdesc">Click 'Itinerary' at the top of page.</p>
          <p class="userdesc">Click 'Edit' next to the item you want to edit.</p>
          <p class="userdesc">Edit information, as needed.  Then, click 'Submit'.</p>
        </div>
        <div class="item">
          <h1 class="userheader">DELETE RESERVATIONS</h1>
          <hr class="userbar">
          <p class="userdesc">Click 'Itinerary' at the top of page.</p>
          <p class="userdesc">Click 'Delete' next to the item you want to delete.</p>
          <p class="userdesc">An alert will confirm. Click OK, if you want to proceed with deletion.  Click Cancel,
            if you don't.</p>
        </div>
        <div class="item">
          <h1 class="userheader">CHANGE PASSWORD</h1>
          <hr class="userbar">
          <p class="userdesc">Click on your Username at the top right of page.</p>
          <p class="userdesc">Click 'Change password'.</p>
          <p class="userdesc">Enter current password and new password.  Confirm new password and click 'Change
            password'.</p>
        </div>
        <div class="item">
          <h1 class="userheader">SIGN OUT</h1>
          <hr class="userbar">
          <p class="userdesc">Click on your Username at the top right of page.</p>
          <p class="userdesc">Click 'Sign out'.</p>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  <div class="row devbody">
    <div class="col-sm-4" style="background: #F68340; padding-bottom: 10px;">
      <img class="featureimg " src="/images/aljon.png">
      <h3 style="color: black; padding-bottom: 5px;">ALJON PREZA</h3>
      <div>
        <span style="font-weight: bold;">Email:</span> aljonp@hawaii.edu <br>
        <span style="font-weight: bold;">GitHub:</span><a class="devlink" href="https://github.com/aljonpreza">https://github.com/aljonpreza</a>
      </div>
    </div>

    <div class="col-sm-4 devcol" style="background-color: white;">
      <hr style="border-color: black; margin-top: 60px;">
      <h1 style="color: #0c123a; text-align: center;">DEVELOPERS</h1>
      <p style="padding-top: 15px; padding-left: 15%; padding-right: 15%;">Vacay is a
        student-made website that allows users to create an adventure on their own.  The applications provides the
        ability to add, delete, and edit reservations based on their travels.</p>
      <hr style="border-color: black; padding-bottom: 53px;">
    </div>

    <div class="col-sm-4 devcol" style="background: #F68340; padding-bottom: 10px;">
      <img class="featureimg" src="/images/chanel.jpg">
      <h3 style="color: black; padding-bottom: 5px;">CHANEL SANTIAGO</h3>
      <div>
        <span style="font-weight: bold;">Email:</span> chanels@hawaii.edu <br>
        <span style="font-weight: bold;">GitHub:</span><a class="devlink" href="https://github.com/chanelsantiago">https://github.com/chanelsantiago</a>
      </div>
    </div>
  </div>
</template>