<template name="About">
  <div class="fill"></div>


  <div class="row" style="background-color: white; text-align: center;">
    <h1 style="color: #0c123a; text-align: center;">DEVELOPERS</h1>
    <p style="padding-top: 10px; padding-left: 25%; padding-right: 25%;"><span class="bookdesc">Textbook Exchange</span> is a student made website that allows the University of Hawaii at Manoa's Information and Computer Sciences (ICS) students to find, buy, and sell textbooks from various ICS classes.</p>
    <hr style="border-color: black;">
  </div>

  <div class="row devbody">
    <div class="col-sm-6">
      <img class="featureimg" src="/images/aljon.png">
      <h3 style="color: black">ALJON PREZA</h3>
      <div>
        <span style="font-weight: bold;">Email:</span> aljonp@hawaii.edu <br>
        <span style="font-weight: bold;">GitHub:</span><a class="devlink" href="https://github.com/aljonpreza">https://github.com/aljonpreza</a>
      </div>
    </div>

    <div class="col-sm-6">
      <img class="featureimg" src="/images/chanel.jpg">
      <h3 style="color: black">CHANEL SANTIAGO</h3>
      <div>
        <span style="font-weight: bold;">Email:</span> khongnaw@hawaii.edu <br>
        <span style="font-weight: bold;">GitHub:</span><a class="devlink" href="https://github.com/chanelsantiago">https://github.com/chanelsantiago</a>
      </div>
    </div>
  </div>
</template>